trunk/labs/ReportGenerator/VulnReport_Files/xsd/userProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Dinis (private) -->
<xs:schema xmlns="vuln_report" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="vuln_report" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="userProfile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="baseDirectory" type="xs:string"/>
				<xs:element name="tempRootDirectory" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
