labs/SiteGenerator/SiteGenerator_ContentPages/HacmeBank_v2_Website/Web References/WS_UsersCommunity/UsersCommunity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PostMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPostedMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostedMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostedMessagesResult" type="s0:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteMessageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="PostMessageSoapIn">
    <part name="parameters" element="s0:PostMessage" />
  </message>
  <message name="PostMessageSoapOut">
    <part name="parameters" element="s0:PostMessageResponse" />
  </message>
  <message name="GetPostedMessagesSoapIn">
    <part name="parameters" element="s0:GetPostedMessages" />
  </message>
  <message name="GetPostedMessagesSoapOut">
    <part name="parameters" element="s0:GetPostedMessagesResponse" />
  </message>
  <message name="DeleteMessageSoapIn">
    <part name="parameters" element="s0:DeleteMessage" />
  </message>
  <message name="DeleteMessageSoapOut">
    <part name="parameters" element="s0:DeleteMessageResponse" />
  </message>
  <portType name="WS_UsersCommunitySoap">
    <operation name="PostMessage">
      <input message="s0:PostMessageSoapIn" />
      <output message="s0:PostMessageSoapOut" />
    </operation>
    <operation name="GetPostedMessages">
      <input message="s0:GetPostedMessagesSoapIn" />
      <output message="s0:GetPostedMessagesSoapOut" />
    </operation>
    <operation name="DeleteMessage">
      <input message="s0:DeleteMessageSoapIn" />
      <output message="s0:DeleteMessageSoapOut" />
    </operation>
  </portType>
  <binding name="WS_UsersCommunitySoap" type="s0:WS_UsersCommunitySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="PostMessage">
      <soap:operation soapAction="http://tempuri.org/PostMessage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPostedMessages">
      <soap:operation soapAction="http://tempuri.org/GetPostedMessages" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteMessage">
      <soap:operation soapAction="http://tempuri.org/DeleteMessage" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WS_UsersCommunity">
    <port name="WS_UsersCommunitySoap" binding="s0:WS_UsersCommunitySoap">
      <soap:address location="http://192.168.1.10/HacmeBank_v2_WS/WebServices/UsersCommunity.asmx" />
    </port>
  </service>
</definitions>